.contactItem>h2,
.contactItem>h3,
.contactItem>h4,
.contactItem>h5,
.contactItem>p {
    width: 100%;
    clear: both;
    text-align: center;
    color: white;
}

.contactItem>h2,
.contactItem>p {
    text-align: left;
}

.contactItem h2 {
    margin-bottom: 5px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 5px;
}

.contactItem h2:hover {
    background: rgba(255, 255, 255, 0.4);
}

.contactItem .fa {
    width: 40px;
}